bottle==0.12.25
numpy==2.0.0
pandas==2.2.2
proxy-tools==0.1.0
pyobjc-core==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyobjc-framework-Security==10.3.1
pyobjc-framework-WebKit==10.3.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.14
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.14
python-dateutil==2.9.0.post0
pytz==2024.1
pywebview==5.1
qasync==0.27.1
six==1.16.0
typing_extensions==4.12.2
tzdata==2024.1
websockets==12.0
